
        <div class="col-lg-9">
            <div class="row px-xl-5 pb-3">
                     
                <a type="button" (click)="getproddetail(prod.id)" *ngFor="let prod of product">
                      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                              <div class="card product-item border-0 mb-4"style="height:auto" >
                                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                  <img class="img-fluid w-100" src="{{prod.image}}" alt="Products">
                                  </div>
                                  <div class="card-body border-left border-right border-bottom text-center p-0 pt-4 pb-3"style="background-color:bisque;width:inherit">
                                      <h6 class="text-truncate mb-3">{{prod.name}}</h6>
                                      <div class="d-flex justify-content-center">
                                          <h6>Rs.{{prod.price}}</h6>
                                      </div>
                                  </div>
                              </div>
                  
                      </div>
                </a>                        
              
          </div>





















           




            <!-- <div class="row px-xl-5 pb-3">
                    <div *ngIf="product==null">
                        <p> No Product Against Your Search </p>
                    </div>
                    
               

                    <div class="col-sm-4 pb-1" *ngFor="let prod of product">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 ">
                                <img class="img-fluid w-100" src="{{prod.image}}" alt="Products">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3"style="background-color:bisque;width:inherit">
                                <h6 class="text-truncate mb-3">{{prod.name}}</h6>
                                <div class="d-flex justify-content-center" >
                                    <h6>Rs.</h6><h6 class="text-muted ml-2">{{prod.price}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div> -->
            <div>
                <a href="" class="btn btn-primary">Home</a>
            </div>
            </div>
           